:root { 
--gray_51:#fafafa; 
--gray_500:#a1a1a1; 
--indigo_900_0c:#1b3a770c; 
--bluegray_100:#cbd4e6; 
--indigo_A200:#605dec; 
--black_900_0c:#0000000c; 
--green_A200:#5bd6c0; 
--gray_50:#f6f5fd; 
--teal_400:#22c3a6; 
--bluegray_900:#26263f; 
--indigo_200:#a1afcc; 
--bluegray_500:#6d7391; 
--indigo_A700:#2926d8; 
--black_900:#000000; 
--bluegray_400:#7b8db0; 
--white_A700:#ffffff; 
}